
<%-include('common/head.ejs')-%>

<meta name="description" content="Teach Coders" />
<meta name="keywords" content="Teach Coders" />
</head>
<body>



    <%-include('common/header.ejs')-%>


<div class="container">
    <h1><%=b.PageHeading%></h1>
    <p><%=b.pageDetails%></p>

</div>
</body>
</html>